// Colour Palette - https://coolors.co/000000-05668d-6ab59c-6aff83-00ddfa
$black: #000000;
$off-white: #edf0f1;
$bright-blue: #00DDFA;
$bright-green: #3DFF5E;
$dark-blue: #215A71;
$dark-green: #6AB59C;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@mixin standard-text {
    font-weight: 500;
    font-size: 1em;
    color: $off-white;
    text-decoration: none;    
}

@mixin background-fade {
    background-image: linear-gradient($black, $black, $dark-blue);
}

@mixin img-mobile-view {
    max-width: 90vw;
    padding-top: 12px;
}

@mixin flex-nomargin-top-bottom-padding {
    margin: 0%;
    display: flex;
    padding: 5px 0px;
}

//Global
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

h2 {
    font-size: 1em;
}

// Convert this to mixin
li, a, p, h1, h2, h3 {
    font-weight: 500;
    font-size: 1em;
    color: $off-white;
    text-decoration: none;
}

//Header
header {
    background-color: $dark-blue;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    padding: 24px 12px;
}

#logo {
    height: 16px;
    margin-bottom: 16px;
    
}

#nav-spacer {
    height: 0px;
    width: 51.69px;
}

nav {
    max-width: 100vw;
}

.nav-links {
    list-style: none;
    display: flex;
    li {
        padding: 0px 5px;
        a {
            transition: all 0.3s ease 0s;
            &:hover {
                color: $bright-green;
            }
        }
    }
}

#flaticon-promo {
    display: none;
}

//Homepage Banner - refactor this
.home-banner {
    background-color: $black;
}

#home-banner-heading {
    color: $dark-green;
    text-align: right;
    padding: 1px 5%;
}

#hr-container-home-title {
    display: flex;
    justify-content: flex-end;
    hr {
        width: 80%;
        margin: 5px 5% 50px;
        border: 1px solid $bright-green;
    }
}

//Home Images Navigation
.home-image-nav {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    @include background-fade();
    img {
        @include img-mobile-view();
    }
    h3 {
        padding-top: 24px;
        color: $off-white;
    }
}

//Heading Banners for Non-Home Main Pages
.main-heading {
    background-color: $black;
    h1 {
        color: $dark-green;
        text-align: right;
        padding: 24px 5% 1px;
    }    
    #hr-container-main-heading {
        display: flex;
        justify-content: flex-end;
        hr {
            width: 80%;
            margin: 5px 5% 36px;
            border: 1px solid $bright-green;
        } 
    }
}

//Projects Body
.projects {
    @include background-fade();
    a {
        display: flex;
        flex-flow: wrap column;
        align-items: center;
        img {
            @include img-mobile-view();
        }
        h3 {
            align-self: flex-start;
            margin: 0% 5%;
        }
    }
    p {
        margin: 0% 5%;
        padding-bottom: 36px;
        padding-top: 12px;
    }
}

//Blog Mainpage Body
.blog-tiles {
    @include background-fade();
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    div {
        margin: 0% 5%;
        .pages-blog-title {
            @include flex-nomargin-top-bottom-padding();
        }
        .pages-blog-image {
            @include flex-nomargin-top-bottom-padding();
        }
        .pages-blog-text-link {
            @include flex-nomargin-top-bottom-padding();
            flex-direction: column;
            align-items: flex-start;
            p {
                padding: 5px 0px;
            }
            a {
                padding: 5px 0px;
            }
        }
        .pages-blog-date-left {
            @include flex-nomargin-top-bottom-padding();
            flex-direction: column;
            align-self: flex-end;
        }
        .pages-blog-date-right {
            @include flex-nomargin-top-bottom-padding();
            flex-direction: column;
            align-self: flex-start;
        } 
    }
    .blog-left {
        @include flex-nomargin-top-bottom-padding();
        flex-direction: column;
        align-items: flex-start;
        
    }
    .blog-right {
        @include flex-nomargin-top-bottom-padding();
        flex-direction: column;
        align-items: flex-end;
    }
}

//Contact Mainpage Body
.contact-content {
    @include background-fade();
    display: flex;
    flex-flow: wrap column;
    padding: 0% 5%;    
    #contact-headshot {        
        align-self: center;        
        padding-bottom: 36px;
        img {
            @include img-mobile-view();
        }
    }
    #about-me-paragraph {

    }
    #employment-highlights {
        ul {
            margin-left: 10%;
        }
    }
}

//Footer
footer {
    background-color: $dark-blue;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    .footer-socials {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        list-style: none;
        padding: 32px;
        li {
            padding: 0px 15px;
            font-size: 24px;
        }
    }
    p {
        padding-bottom: 32px;
    }
}
