@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

li, a, p, h1, h2, h3 {
  font-weight: 500;
  font-size: auto;
  color: #edf0f1;
  text-decoration: none;
}

a h3, a p {
  color: #3DFF5E;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a:hover h3, a:hover p {
  color: #00DDFA;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

a:hover img {
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

h2 {
  font-size: 1em;
}

body {
  background-color: #000000;
}

header {
  background-color: #215A71;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 12px;
}

#logo {
  height: 16px;
  margin-bottom: 16px;
}

#nav-spacer {
  height: 0px;
  width: 51.69px;
}

nav {
  max-width: 100vw;
}

/* R2 (Text) Component 1 */
.nav-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-links li {
  padding: 0px 5px;
}

.nav-links li a {
  color: #3DFF5E;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #00DDFA;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#flaticon-promo {
  display: none;
}

.home-banner {
  background-color: #000000;
}

#home-banner-heading1, #home-banner-heading2 {
  color: #edf0f1;
  text-align: right;
  padding: 1px 5%;
}

#hr-container-home-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#hr-container-home-title hr {
  width: 100%;
  margin: 5px 5% 20px;
  border: 1px solid #3DFF5E;
}

.home-image-nav {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(#000000), to(#215A71));
  background-image: linear-gradient(#000000, #000000, #215A71);
}

.home-image-nav .home-image-nav-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* R3 (Graphic) Component 1 */
}

.home-image-nav .home-image-nav-tile img {
  max-width: 90vw;
  padding-top: 12px;
}

.home-image-nav .home-image-nav-tile h3 {
  padding-top: 24px;
}

.main-heading {
  background-color: #000000;
}

.main-heading h1 {
  color: #edf0f1;
  text-align: right;
  padding: 24px 5% 1px;
}

.main-heading #hr-container-main-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-heading #hr-container-main-heading hr {
  width: 100%;
  margin: 5px 5% 36px;
  border: 1px solid #3DFF5E;
}

.projects {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(#000000), to(#215A71));
  background-image: linear-gradient(#000000, #000000, #215A71);
  padding: 0% 5%;
}

.projects div {
  padding-top: 36px;
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.projects div a img {
  /* R3 (Graphic) Component 2 */
  max-width: 90vw;
  padding-top: 12px;
}

.projects div p {
  padding-top: 12px;
}

.projects #projects-drumming {
  padding-top: 36px;
}

.project-items-container {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(#000000), to(#215A71));
  background-image: linear-gradient(#000000, #000000, #215A71);
}

.project-items-container .project-img_text-container .projects-project-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-items-container .project-img_text-container .projects-project-image-container img {
  max-width: 90vw;
  padding-top: 12px;
}

.project-items-container .project-img_text-container .project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 7%;
}

.project-items-container .project-img_text-container .project-content p, .project-items-container .project-img_text-container .project-content a {
  margin: 0% 5%;
  padding-top: 12px;
}

.project-items-container .project-page-shortcut {
  padding-top: 24px;
  margin: 0% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.project-items-container .project-page-shortcut div a {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.project-items-container .project-page-shortcut div a img {
  max-width: 45vw;
}

.project-items-container .project-page-shortcut #other-project-text-link {
  padding-right: 3%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.blog-tiles {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(#000000), to(#215A71));
  background-image: linear-gradient(#000000, #000000, #215A71);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-tiles div .pages-blog-title {
  /* R2 (Text) Component 3 */
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0px;
  max-width: 90vw;
}

.blog-tiles div .blog-non-title-container .pages-blog-image {
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0px;
}

.blog-tiles div .blog-non-title-container .pages-blog-image a img {
  /* R3 (Graphic) Component 3 */
  max-width: 90vw;
  padding-top: 12px;
}

.blog-tiles div .blog-non-title-container .main-blog-date_text_read-more .pages-blog-date-right {
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  /* R2 (Text) Component 4 */
}

.blog-tiles div .blog-non-title-container .main-blog-date_text_read-more .pages-blog-date-right .date {
  color: #6AB59C;
  text-align: right;
}

.blog-tiles div .blog-non-title-container .main-blog-date_text_read-more .pages-blog-date-left {
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.blog-tiles div .blog-non-title-container .main-blog-date_text_read-more .pages-blog-date-left .date {
  color: #6AB59C;
  text-align: left;
}

.blog-tiles div .blog-non-title-container .main-blog-date_text_read-more .pages-blog-text-link {
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.blog-tiles div .blog-non-title-container .main-blog-date_text_read-more .pages-blog-text-link p {
  padding: 5px 0px;
}

.blog-tiles div .blog-non-title-container .main-blog-date_text_read-more .pages-blog-text-link a {
  padding: 5px 0px;
}

.blog-tiles .blog-left {
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0% 5% 6% 5%;
}

.blog-tiles .blog-left .pages-blog-title a {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.blog-tiles .blog-left .blog-non-title-container .pages-blog-text-link .blog-preview-text {
  text-align: left;
}

.blog-tiles .blog-left .blog-non-title-container .pages-blog-text-link a {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.blog-tiles .blog-right {
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0% 5% 6% 5%;
}

.blog-tiles .blog-right .pages-blog-title a {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.blog-tiles .blog-right .blog-non-title-container .pages-blog-text-link .blog-preview-text {
  text-align: right;
}

.blog-tiles .blog-right .blog-non-title-container .pages-blog-text-link a {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.blog-items-container {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(#000000), to(#215A71));
  background-image: linear-gradient(#000000, #000000, #215A71);
}

.blog-items-container .blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.blog-items-container .blog-content div {
  margin: 0% 5%;
}

.blog-items-container .blog-content .blog-post-image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.blog-items-container .blog-content .blog-post-image img {
  max-width: 90vw;
  padding-top: 12px;
}

.blog-items-container .blog-content .blog-post-date p {
  color: #6AB59C;
  padding-top: 24px;
}

.blog-items-container .blog-content .blog-post-text .blog-text {
  padding-top: 12px;
}

.blog-items-container .blog-nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0% 5%;
}

.blog-items-container .blog-nav-buttons a {
  padding-top: 24px;
}

.contact-content {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(#000000), to(#215A71));
  background-image: linear-gradient(#000000, #000000, #215A71);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  padding: 0% 5%;
}

.contact-content #contact-headshot {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 36px;
}

.contact-content #contact-headshot img {
  /* R3 (Graphic) Component 4 */
  max-width: 90vw;
  padding-top: 12px;
}

.contact-content #about-me-paragraph {
  padding-bottom: 24px;
  text-align: center;
}

.contact-content #employment-items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 24px;
}

.contact-content #employment-items-container #employment-highlights ul {
  margin-left: 10%;
  min-width: 50%;
}

.contact-content #employment-items-container #cv-link {
  padding-left: 12px;
}

.contact-content #employment-items-container #cv-link a img {
  max-width: 100px;
}

.contact-content address ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px;
  list-style: none;
}

footer {
  background-color: #215A71;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 32px;
}

footer .footer-socials li {
  padding: 0px 15px;
  font-size: 24px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

footer .footer-socials li a {
  color: #3DFF5E;
}

footer .footer-socials li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .footer-socials li:hover a {
  color: #00DDFA;
}

footer p {
  font-size: 0.8em;
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* R2 (Text) Component 2 */
  #home-banner-heading1 {
    font-size: 2em;
  }
  #home-banner-heading2 {
    font-size: 1.2em;
  }
  .pages-blog-image a img {
    min-width: 90vw;
  }
}

@media screen and (min-width: 1024px) {
  #home-banner-heading1 {
    font-size: 2.8em;
  }
  #home-banner-heading2 {
    font-size: 1.7em;
  }
  .home-image-nav {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(#000000), to(#215A71));
    background-image: linear-gradient(#000000, #000000, #215A71);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .home-image-nav .home-image-nav-tile img {
    max-width: 25vw;
  }
  #hr-container-main-heading hr {
    max-width: 25%;
  }
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .projects div {
    max-width: 40vw;
  }
  .projects div .project-title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .projects div a img {
    max-width: 40vw;
  }
  .projects #projects-drumming {
    padding-top: 12px;
  }
  .project-items-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap column;
            flex-flow: wrap column;
  }
  .project-items-container .project-img_text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
    margin-bottom: 36px;
  }
  .project-items-container .project-img_text-container .projects-project-image-container {
    padding-left: 5%;
    width: 45%;
  }
  .project-items-container .project-img_text-container .projects-project-image-container img {
    width: 100%;
  }
  .project-items-container .project-img_text-container .project-content {
    padding: 0% 5%;
    width: 55%;
  }
  .project-items-container .project-img_text-container .project-content p, .project-items-container .project-img_text-container .project-content a {
    margin: 0%;
  }
  .project-items-container .project-page-shortcut #other-project-image-link {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 25vw;
  }
  .project-items-container .project-page-shortcut #other-project-image-link a img {
    width: 100%;
  }
  .blog-tiles .blog-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap column;
            flex-flow: wrap column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blog-tiles .blog-left .pages-blog-title {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .blog-tiles .blog-left .blog-non-title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .blog-tiles .blog-left .blog-non-title-container .pages-blog-image {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 85%;
    padding-right: 5%;
  }
  .blog-tiles .blog-left .blog-non-title-container .pages-blog-image a {
    width: 100%;
  }
  .blog-tiles .blog-left .blog-non-title-container .pages-blog-image a img {
    width: 100%;
  }
  .blog-tiles .blog-left .blog-non-title-container .main-blog-date_text_read-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap column;
            flex-flow: wrap column;
    width: 35%;
    padding-left: 0px;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .blog-tiles .blog-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap column;
            flex-flow: wrap column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blog-tiles .blog-right .pages-blog-title {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .blog-tiles .blog-right .blog-non-title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .blog-tiles .blog-right .blog-non-title-container .pages-blog-image {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 85%;
    padding-right: 5%;
  }
  .blog-tiles .blog-right .blog-non-title-container .pages-blog-image a {
    width: 100%;
  }
  .blog-tiles .blog-right .blog-non-title-container .pages-blog-image a img {
    width: 100%;
  }
  .blog-tiles .blog-right .blog-non-title-container .main-blog-date_text_read-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap column;
            flex-flow: wrap column;
    width: 35%;
    padding-left: 0px;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .blog-tiles .blog-right .pages-blog-title {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .blog-tiles .blog-right .blog-non-title-container .pages-blog-image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-right: 0%;
    padding-left: 5%;
  }
  .blog-tiles .blog-right .blog-non-title-container .main-blog-date_text_read-more {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .blog-post-image {
    width: 90vw;
  }
  .blog-post-image img {
    width: 100%;
  }
  .contact-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
  }
  .contact-content #contact-headshot {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-right: 5%;
    padding-bottom: 0%;
    width: 45%;
  }
  .contact-content #contact-headshot img {
    padding-top: 0px;
    width: 100%;
  }
  .contact-content .about-me-info-container {
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap column;
            flex-flow: wrap column;
    width: 55%;
  }
}
/*# sourceMappingURL=style.css.map */