@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif; }

li, a, p, h1, h2, h3 {
  font-weight: 500;
  font-size: auto;
  color: #edf0f1;
  text-decoration: none; }

h2 {
  font-size: 1em; }

body {
  background-color: #000000; }

header {
  background-color: #215A71;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  padding: 24px 12px; }

#logo {
  height: 16px;
  margin-bottom: 16px; }

#nav-spacer {
  height: 0px;
  width: 51.69px; }

nav {
  max-width: 100vw; }

.nav-links {
  list-style: none;
  display: flex; }
  .nav-links li {
    padding: 0px 5px; }
    .nav-links li a {
      transition: all 0.3s ease 0s; }
      .nav-links li a:hover {
        color: #3DFF5E; }

#flaticon-promo {
  display: none; }

.home-banner {
  background-color: #000000; }

#home-banner-heading {
  color: #6AB59C;
  text-align: right;
  padding: 1px 5%; }

#hr-container-home-title {
  display: flex;
  justify-content: flex-end; }
  #hr-container-home-title hr {
    width: 80%;
    margin: 5px 5% 50px;
    border: 1px solid #3DFF5E; }

.home-image-nav {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  background-image: linear-gradient(#000000, #000000, #215A71); }
  .home-image-nav img {
    max-width: 90vw;
    padding-top: 12px; }
  .home-image-nav h3 {
    padding-top: 24px;
    color: #edf0f1; }

.main-heading {
  background-color: #000000; }
  .main-heading h1 {
    color: #6AB59C;
    text-align: right;
    padding: 24px 5% 1px; }
  .main-heading #hr-container-main-heading {
    display: flex;
    justify-content: flex-end; }
    .main-heading #hr-container-main-heading hr {
      width: 80%;
      margin: 5px 5% 36px;
      border: 1px solid #3DFF5E; }

.projects {
  background-image: linear-gradient(#000000, #000000, #215A71); }
  .projects a {
    display: flex;
    flex-flow: wrap column;
    align-items: center; }
    .projects a img {
      max-width: 90vw;
      padding-top: 12px; }
    .projects a h3 {
      align-self: flex-start;
      margin: 0% 5%; }
  .projects p {
    margin: 0% 5%;
    padding-top: 12px; }

.project-items-container {
  background-image: linear-gradient(#000000, #000000, #215A71); }
  .project-items-container .project-content {
    display: flex;
    flex-flow: wrap column;
    align-items: center; }
    .project-items-container .project-content img {
      max-width: 90vw;
      padding-top: 12px; }
    .project-items-container .project-content p {
      margin: 0% 5%;
      padding-top: 12px; }
    .project-items-container .project-content a {
      margin: 0% 5%;
      padding: 12px 0px 24px;
      align-self: flex-start; }
  .project-items-container .project-page-shortcut {
    padding-top: 24px;
    margin: 0% 5%;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-end; }
    .project-items-container .project-page-shortcut a {
      align-self: flex-end; }
    .project-items-container .project-page-shortcut img {
      max-width: 45vw; }
  .project-items-container #other-project-link {
    padding-right: 3%; }

.blog-tiles {
  background-image: linear-gradient(#000000, #000000, #215A71);
  display: flex;
  flex-flow: wrap column;
  align-items: center; }
  .blog-tiles div .pages-blog-title {
    margin: 0%;
    display: flex;
    padding: 5px 0px;
    max-width: 90vw; }
  .blog-tiles div .pages-blog-image {
    margin: 0%;
    display: flex;
    padding: 5px 0px; }
    .blog-tiles div .pages-blog-image a img {
      max-width: 90vw;
      padding-top: 12px; }
  .blog-tiles div .pages-blog-text-link {
    margin: 0%;
    display: flex;
    padding: 5px 0px;
    flex-direction: column;
    align-items: flex-start; }
    .blog-tiles div .pages-blog-text-link p {
      padding: 5px 0px; }
    .blog-tiles div .pages-blog-text-link a {
      padding: 5px 0px; }
  .blog-tiles div .pages-blog-date-left {
    margin: 0%;
    display: flex;
    padding: 5px 0px;
    flex-direction: column;
    align-self: flex-end; }
  .blog-tiles div .pages-blog-date-right {
    margin: 0%;
    display: flex;
    padding: 5px 0px;
    flex-direction: column;
    align-self: flex-start; }
  .blog-tiles .blog-left {
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0% 5%; }
  .blog-tiles .blog-right {
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0% 5%; }

.blog-items-container {
  background-image: linear-gradient(#000000, #000000, #215A71); }

.contact-content {
  background-image: linear-gradient(#000000, #000000, #215A71);
  display: flex;
  flex-flow: wrap column;
  padding: 0% 5%; }
  .contact-content #contact-headshot {
    align-self: center;
    padding-bottom: 36px; }
    .contact-content #contact-headshot img {
      max-width: 90vw;
      padding-top: 12px; }
  .contact-content #about-me-paragraph {
    padding-bottom: 24px;
    text-align: center; }
  .contact-content #employment-items-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 24px; }
    .contact-content #employment-items-container #employment-highlights ul {
      margin-left: 10%;
      min-width: 50%; }
    .contact-content #employment-items-container #cv-link {
      padding-left: 12px; }
      .contact-content #employment-items-container #cv-link a img {
        max-width: 100px;
        fill: #edf0f1; }
  .contact-content address ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    list-style: none; }

footer {
  background-color: #215A71;
  display: flex;
  flex-flow: wrap column;
  align-items: center; }
  footer .footer-socials {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    padding: 32px; }
    footer .footer-socials li {
      padding: 0px 15px;
      font-size: 24px; }
  footer p {
    padding-bottom: 32px; }

/*# sourceMappingURL=style.css.map */
